#naver-map {
    width: 100%;
    height: 100%;
}

.marker {
    width: 25px;
    height:25px;
}

.marker.Dog {
    background-image: url("../images/marker/dog_marker.svg");
    background-size:cover;
}
.marker.Dog.active {
    background-image: url("../images/marker/dog_active_marker.svg");
    background-size:cover;
}
.marker.Bar {
    background-image: url("../images/marker/bar_marker.svg");
    background-size:cover;
}
.marker.Bar.active {
    background-image: url("../images/marker/bar_active_marker.svg");
    background-size:cover;
}
.marker.Bakery {
    background-image: url("../images/marker/bakery_marker.svg");
    background-size:cover;
}
.marker.Bakery.active {
    background-image: url("../images/marker/bakery_active_marker.svg");
    background-size:cover;
}
.marker.Cafe {
    background-image: url("../images/marker/cafe_marker.svg");
    background-size:cover;
}
.marker.Cafe.active {
    background-image: url("../images/marker/cafe_active_marker.svg");
    background-size:cover;
}
.marker.Culture {
    background-image: url("../images/marker/museum_marker.svg");
    background-size:cover;
}
.marker.Culture.active {
    background-image: url("../images/marker/museum_active_marker.svg");
    background-size:cover;
}
.marker.Restaurant {
    background-image: url("../images/marker/restaurant_marker.svg");
    background-size:cover;
}
.marker.Restaurant.active {
     background-image: url("../images/marker/restaurant_active_marker.svg");
     background-size:cover;
 }
.marker.Stay {
    background-image: url("../images/marker/stay_marker.svg");
    background-size:cover;
}
.marker.Stay.active {
     background-image: url("../images/marker/stay_active_marker.svg");
     background-size:cover;
 }
.marker.Shopping {
    background-image: url("../images/marker/shopping_marker.svg");
    background-size:cover;
}
.marker.Shopping.active {
     background-image: url("../images/marker/shopping_active_marker.svg");
     background-size:cover;
 }
.marker.Others {
    background-image: url("../images/marker/others_marker.svg");
    background-size:cover;
}
.marker.Others.active {
     background-image: url("../images/marker/others_active_marker.svg");
     background-size:cover;
 }