#naver-map {
    width: 100%;
    height: 100%;
}

.marker {
    width: 25px;
    height:25px;
}

.marker.dog {
    background-image: url("../images/marker/dog_marker.svg");
    background-size:cover;
}
.marker.dog.active {
    background-image: url("../images/marker/dog_active_marker.svg");
    background-size:cover;
}
.marker.bar {
    background-image: url("../images/marker/bar_marker.svg");
    background-size:cover;
}
.marker.bar.active {
    background-image: url("../images/marker/bar_active_marker.svg");
    background-size:cover;
}
.marker.bakery {
    background-image: url("../images/marker/bakery_marker.svg");
    background-size:cover;
}
.marker.bakery.active {
    background-image: url("../images//marker/bakery_active_marker.svg");
    background-size:cover;
}
.marker.cafe {
    background-image: url("../images/marker/cafe_marker.svg");
    background-size:cover;
}
.marker.cafe.active {
    background-image: url("../images/marker/cafe_active_marker.svg");
    background-size:cover;
}
.marker.museum {
    background-image: url("../images/marker/museum_marker.svg");
    background-size:cover;
}
.marker.museum.active {
    background-image: url("../images/marker/museum_active_marker.svg");
    background-size:cover;
}
.marker.restaurant {
    background-image: url("../images/marker/restaurant_marker.svg");
    background-size:cover;
}
.marker.restaurant.active {
     background-image: url("../images/marker/restaurant_active_marker.svg");
     background-size:cover;
 }