.logo-container {
    display: flex;
    margin: 20px 20px 20px 0;
    justify-content: flex-end;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-left: 23px;
}

.profile-container .profile-img{
    width: 80px;
    height: 80px;
}

.profile-container .user-info {
    margin-left: 23px;
    font-size: 24px;
    font-weight: 500;
}

.profile-container .user-info .id{
    font-size: 24px;
    font-weight: 600;
}

.profile-container .user-info .spot-info{
    height: 16px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.profile-container .user-info .spot-info span{
    font-weight: 600;
    font-size: 13px;
    margin-left: 10px;
    color: grey;
}

.profile-container .share{
    display: grid;
    margin-left: auto;
    margin-right: 20px;
}

.profile-container .share button{
    background-color: transparent;
    border-color: transparent;
}

.profile-container .share span{
    font-weight: 500;
    font-size: 13px;
    margin-top: 3px;
    color: grey;
    justify-self: center;
}

.mobile-profile-container {
    position: fixed;
    width: 360px;
    height: 50px;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 0px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px #00000026;
    background: #FFFFFF;
    z-index: 200;
}