.spot-container .category{
    position: relative;
}

.spot-container .category .header{
    display: flex;
    align-items: center;
}

.spot-container .category .category-button{
    height: 50px;
    width: 74px;
    background-color: transparent;
    border-color: transparent;
}

.spot-container .category .category-button span{
    color: grey;
    font-weight: 500;
    font-size: 16px;
}

.spot-container .category .dropdown{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.spot-container .category .dropdown span{
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px
}

.spot-container .category .dropdown button{
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    margin-left: 1px;
}

.spot-container .category .dropdown button img{
    height: 7px;
    width: 14px;
}

.spot-container .category .dropdownmenu {
    height: 135px;
    width: 483px;
    top: 50px;
    left: 0px;
    position: absolute;
    background-color: #f9f9f9;
}

.spot-container {
    width: 435px;
    display: flex;
    flex: 1;
    min-height: 0px;
}

.spot-container hr {
    height: 1px !important;
    overflow-y: auto;
}

.spot-container .spot-list {
    flex: 1;
    overflow-y: auto;
}

.insta-embed-iframe{
    width: 100%;
    height: 750px;
}

.spot-container .spot-list .spot-info{
    /*height: 370px;*/
    padding: 23px 23px 5px 23px;
}

.spot-container .spot-list .spot-info .image-container{
    display: flex;
    margin-top: 43px;
    margin-bottom: 24px;
    overflow-x: scroll;
}

.spot-container .spot-list .spot-info .image-container img{
    margin-right: 4px;
}


.spot-container .spot-list .spot-info .spot-name{
    font-weight: 500;
    font-size: 21px;
}

.spot-container .spot-list .spot-info .spot-type{
    margin-left: 10px;
    color: grey;
    font-weight: 500;
    font-size: 14px;
}

.spot-container .spot-list .spot-info .address{
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

.spot-container .spot-list .spot-info .content{
    margin-top: 15px;
    margin-bottom: 20px;
}

.spot-container .spot-list .spot-info .content p{
    white-space: pre-line;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}

.spot-container .spot-list .spot-info .content.summary p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.spot-container .spot-list .spot-info .meta-info div{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;


}

.spot-container .spot-list .spot-info .meta-info div img{
    margin-right: 10px;

}

.spot-container .spot-list .spot-info .content .hashtag{
    font-weight: 500;
    font-size: 13px;
}

.spot-container .spot-list .spot-info .share-insta{
    display: grid;
    margin-left: auto;
}

.spot-container .spot-list .spot-info .share-insta button{
    background-color: transparent;
    border-color: transparent;
}

.spot-container .spot-list .spot-info .share-insta span{
    font-size: 8px;
    font-weight: 600;
    line-height: 9.6px;
    text-align: left;
    color: #12121259;
    text-decoration: underline;
    justify-self: center;
}
